@charset "utf-8";

$gap: 40px;
$body-background-color: #FFF;
$body-color: #000;
$mono: 'IBM Plex Mono', monospace;

@import "@/node_modules/bulma/bulma.sass";

h1, h2, h3, .title {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 800;
  color: $body-color;
}

.title {
  font-size: 2.25rem; // 36px
}


.mono {
  font-family: 'IBM Plex Mono', monospace;
}


.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
